@import "tailwindcss";
@import "@heroui/styles";

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes variables users need to customize
 * @see https://heroui.com/docs/react/getting-started/theming
 */

@theme inline {
  --background-image-gradient: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #f43f5e
  );
}

@layer base {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
/* global.css */
.heroui-input-wrapper {
  background-color: #f3f4f6 !important;
}
