@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --background-image-gradient: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #f43f5e
  );
}

@layer base {
  html {
    font-size: 16px;
  }
  html.dark body {
    @apply bg-slate-900 text-slate-50;
  }
  html.dark footer {
    @apply bg-slate-950;
  }
  footer {
    @apply bg-slate-900;
  }
  h1 {
    font-size: text-5xl;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
